<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    	<h5>I am currently in the process of uploading my projects to GitHub. You can take a look at some that are already up there, but I will be uploading the majority of my projects soon. You can check out my GitHub <a href="https://github.com/jackn11" target="_blank" rel="noopener noreferrer">here</a>.</h5>
		<section class="project">
			<a href="http://volunteerism.tk" target="_blank" rel="noopener noreferrer"><img src="logo.png" class="newimg" alt="Volunteerism">
				<h5><b>Volunteerism</b></h5></a>
				<h5>Volunteerism is a site that I, along with a team of 3 others, made as part of the LyonHacks Hackathon. We saw the need for more accessible ways for people to find good, relevant volunteer opportunities, and the site does just that. The site is made using HTML, CSS, and JavaScript. We used Firebase Authentication for the user accounts and Firebase Cloud Firestore for the user, organization, and and opportunity information storage. We also used the OpenStreetMap API to integrate the map feature into the site.</h5>
				<h5>You can check out the site <a href="http://volunteerism.tk" target="_blank" rel="noopener noreferrer">here</a>, the DevPost page <a href="https://devpost.com/software/volunteerism-b35fei" target="_blank" rel="noopener noreferrer">here</a> and the GitHub <a href="https://github.com/Jwiggiff/lyonhacks-volunteer" target="_blank" rel="noopener noreferrer">here</a>.
				</h5>
		</section>
		<!-- <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 1</a></strong>
			- Ei viderer tacimates pro, quem assum ea nam. Veritus omnesque eam te. Et natum mucius tamquam vel,
			ea dolorem volumus deterruisset nec. Graeci mentitum sea an, eu prima elaboraret est.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 2</a></strong>
			- An eripuit phaedrum qui, nec facer splendide ex, vel ea assum facilisi convenire.
			Te his neglegentur consectetuer.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>
			- An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong>
			- Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,
			ea eam timeam viderer aliquid, cu integre omittam moderatius quo.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
			- Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
			usu ex sapientem gubergren. Tamquam admodum ei usu.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5> -->


    </div>
  </div>
</div>
</section>
